.container {
	width: 30%;
	margin-top: 6%;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 8px;
}

button {
	width: 40%;
	height: 45px;
	margin: 40px 0px 10px 0px;
}

.button-spacing {
	display: flex;
	justify-content: space-evenly;
}

.label-username,
.label-password {
	margin-bottom: 10px;
	margin-top: 10px;
}
